$mainColor: #3f8657;
$mainColorHover: #55b475;
$SimplePageColor: #777777;
$SimplePageHover: #3b3636;
$SimplePageBackground: beige;
$liteHover: rgba(176,248,150, 0.4);
$grey: #e9ecec;
$darkGrey: #726d6d;

$generalFontSize_px: 16px;
$generalFontSize_number: 16;

@function rem($n) {
  @return #{($n / $generalFontSize_number)}rem;
}



