@import "./constants";
@import "./dounCSS";

body {
  background: #e9ecec;
  color: $mainColor;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 700;
}

.controls {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  &__btn {
    padding: 5px;
    border: $darkGrey 1px solid;
    color: $mainColor;
    cursor: pointer;

    &:hover {
      color: $mainColorHover;
    }
  }
}



