@import "./constants";
@import "./dounCSS";

body {
  background: #e9ecec;
  color: $mainColor;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 700;
}



